{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_widget(form._token) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}

    <a href="{{ path('app_blog_index') }}" class="btn btn-secondary">Back to Dashboard</a>
{% endblock %}
